body {
    margin: 0;
    top: 0;
    padding: 0;
}

header h1 {
    margin: 10px 0 10px 0;
    padding: 10px 10px 10px 60px;
    font-size: 50px;
    background-color: #adebeb;
}

header {
    background-color: #00091a;
    display: flex;
    justify-content: space-between;
}

.name {
    align-items: flex-start;
}

.avatar {
   align-items: center;
}

.nav {
    align-items: flex-end;
    padding: 10px 0 20px 0;
    font-size: 20px;
    color: #adebeb;
    margin: 10px;
}

.nav a {
    font: 20px;
    position: relative;
    text-decoration: none;
    color: #adebeb;
    padding: 15px;
    border-bottom: 2px solid #adebeb;
    padding-bottom: 5px;
    margin: 2px 15px 2px 15px;
    align-content: flex-end;
}

.nav a:visited {
    color:#adebeb;
}


.sub-head {
    background-image: url(https://images.pexels.com/photos/6810900/pexels-photo-6810900.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    line-height: 3in;
    margin-top: 0;
    padding: 0;
    border: 0;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.sub-head h2 {
    color: var(--tertiary);
    display:inline;
    font-size: 35px;
    padding: 5px 10px;
    background-color: var(--secondary)
}

section {
    display:flex;
    margin:10;
    position: relative;
}

#full div a img {
    width: 80%;
    border: 7px solid #adebeb;
}

#full div a img:hover {
    opacity: 60%;
}

#half #firstStack {
   display: flex;
   border:#adebeb 6px;
}

#half #secondStack {
    display: flex;
}

#half div a img {
    width: 60%;
    border: 7px solid #adebeb;
}

#half div a img:hover {
    opacity: 60%;
}

#portfolioImgs {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#about-me,
#work,
#contact-me {
    display: flex;
    border-right:5px;
    border-right-color: #00091a;
    margin: 20px;
    margin-right: 20px;
    padding: 20px;
    color: #00091a;
    justify-content: space-between;
}

#about-me p {
    margin-left: 3rem;
    margin-right: 3rem;
}
#phone-number {
    font-size: 20px;
    color: #00091a;
    text-decoration: underline;
}

h3 {
    color: #000033;
    font-size: 50px;
}

img {
    border:#adebeb;
    border: width 6px;
}

@media screen and (max-width: 992px) {
    body {
      background-color: aliceblue;
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    img {
      size-adjust: 50%;
    }
  }
  
  @media screen and (max-width: 576px) {
    img {
      size-adjust: 35%;
    }
  }